@import "tailwindcss";

@theme {
  /* Colores personalizados */
  --color-primary: #295788fc;
  --color-primary-light: #eff6ff ;
  --color-primary-dark: #be185d;
  --color-secondary: #e50076;
  
  /* Fuentes personalizadas */
  --font-family-poppins: Poppins, sans-serif;
  --font-family-glass-antigua: "Glass Antiqua", cursive;
  --font-family-cocotte: Cocotte, sans-serif;
   --font-family-helvetica: Helvetica, sans-serif;
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #ec48e4, #ee6706);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

/* Leaflet CSS (si usas mapas) */
@import 'leaflet/dist/leaflet.css';
